@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }

 body{
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

 } */

.main-contact {
  background-image: linear-gradient(to left bottom, #ffff, #60a5fa);
  width: 100%;
  padding: 3rem;
}

.main-contact .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 7px;
}

.contact-info {
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
  color: darkred;
  font-weight: 500;
}

.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
  padding: 3rem;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color: darkred(3, 3, 3);
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 3rem;
  font-weight: 500;
}

.contact-form .text-box {
  background: #fff;
  color: #000;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* opacity: 0.9; */
  outline: none;
  box-shadow: 0 3px 6px #00000029;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  outline: none;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  color: #000;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  margin-bottom: 20px;
  /* opacity: 0.9; */
}

.contact-form .send-btn {
  margin-bottom: 3rem;
  float: right;
  background-image: linear-gradient(to left bottom, lightskyblue, blue);
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transform: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover {
  background: #0582e3;
}

@media screen and (max-with: 950px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    margin: 30px 50px;
  }

  .contact-form h2 {
    font-size: 30px;
    margin-top: 3rem;
  }
}
